pandas~=2.3.3
PyYAML~=6.0.3
pdfplumber~=0.11.7
langchain~=1.0.3
langgraph~=1.0.2
streamlit~=1.51.0
requests~=2.32.5
pydantic~=2.12.3
python-dotenv~=1.2.1
langchain_openai==1.0.2
plotly==6.3.1
openai==2.8.1
azure-identity==1.25.1
azure-keyvault-secrets==4.10.0